apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.host }}
  namespace: {{ .Values.global.namespace | default .Release.Namespace }}
spec:
  type: NodePort
  ports:
  - protocol: TCP
    targetPort: {{ .Values.port }}
    port: {{ .Values.port }}

  selector:
    app: minio