##
## Copyright 2022 European Centre for Medium-Range Weather Forecasts (ECMWF)
##
## Licensed under the Apache License, Version 2.0 (the "License");
## you may not use this file except in compliance with the License.
## You may obtain a copy of the License at
##
##     http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing, software
## distributed under the License is distributed on an "AS IS" BASIS,
## WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
## See the License for the specific language governing permissions and
## limitations under the License.
##
## In applying this licence, ECMWF does not waive the privileges and immunities
## granted to it by virtue of its status as an intergovernmental organisation nor
## does it submit to any jurisdiction.
##


{{ if index .Values "garbage-collector" }}

apiVersion: apps/v1
kind: Deployment
metadata:
  name: garbage-collector
  namespace: {{ .Values.global.namespace }}
spec:
  replicas: {{ index .Values "deployment.garbage-collector.replicas" }}
  selector:
    matchLabels:
      app: garbage-collector
  template:
    metadata:
      annotations:
        checksum/config: {{ .Values | toYaml | sha256sum }}
      labels:
        app: garbage-collector
    spec:
      containers:
      - name: garbage-collector-pod
        {{ if .Values.deployment.fqn_images }}
        image: {{ .Values.deployment.fqn_images.polytope_common }}
        {{ else if .Values.deployment.tag }}
        image: {{ .Values.deployment.registry }}/polytope-common:{{ .Values.deployment.tag }}
        {{ else }}
        image: {{ .Values.deployment.registry }}/polytope-common:{{ .Release.Namespace }}-latest
        {{ end }}
        imagePullPolicy: Always
        resources:
          limits:
            memory: "1Gi"
            cpu: "0.5"
        volumeMounts:
          - name: config-volume
            mountPath: /etc/polytope
        command: ["python"]
        args: ["-m", "polytope_server.garbage-collector"]
      volumes:
        - name: config-volume
          configMap:
            name: polytope-config
      imagePullSecrets:
        - name: polytope-registry-cred

{{ end }}
